* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.body {
    display: flex;
}

.body .nav {
    display: flex;
    min-width: 144px;
    background-color: lightblue;
    justify-content: center;
    margin: 16px;
    padding: 8px;
}

.body .nav .menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.body .nav .menu .pagelink {
    display: flex;
    margin: 10px;
    font-weight: bold;
    font-size: large;
}

.body .content {
    margin-right: 12px;
    justify-content: center;
}

.tail {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 8px;
}