* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
}

.head {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.body {
    display: flex;
}

.body .nav {
    display: flex;
    width: 192px;
    background-color: lightblue;
    justify-content: center;
    margin: 24px;
    padding: 8px;
}

.body .nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    margin: 8px;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.tail {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 8px;
}